.div-categoria {
    /*width: 220px;*/
    /*background-color: orange;*/
}

.div-categoria .container {
    position: relative;
    padding-left: 20px;
}

.editor-label label {
    margin-right: 46px;
}


.div-categoria input[type=number] {
    width: 80px;
    margin-right: 30px;
}

.div-categoria input[type=text] {
    width: 200px;
    margin-right: 20px;
}

.fieldset-titulo legend {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px
}

.btn-cadastrar {
    margin-left: 110px;
}
